*.dump
*.gem
*.rbc
*.swo
*.swp
*~
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
config/database.yml
config/environments/development.rb
coverage
db/*.sqlite3
doc/
lib/bundler/man
log/*
pkg
public/*/cache/*
public/tmp/*
rdoc
rerun.txt
spec/reports
tags
test/tmp
test/version_tmp
tmp
tmp/*
tmp/**/*
